* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}
.field {
  border: 2px solid #212121;
  padding: 5px;
  margin-right: 10px;
}
#datetime-picker {
  margin-bottom: 10px;
}
[data-start]:enabled {
  background-color: red;
  color: #212121;
}
